body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  height: 100vh;           
  margin: 0;
 background-color:var(--dark);
  margin-top: 5%;
   

}

.plan {
  font-size: large;
  width: 60vw;             
  color: black;
  text-align: center;      
  padding: 20px;
  background-color: #00a5a8;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
}

.h{
    color: aliceblue;
}

.return img{
    width: 60px; 
border-radius: 4vh;
}

.return{
    margin-left: 4%;  
 width: 90px; 
 height: auto;
border-radius: 10vh;
 margin-top: -9vh;
}



:root{
--dark :#000;
--white:#358939;
}

[data-theme="dark"]{
  --withe:#000;
   --dark :#358939;

}

  
@media (max-width: 600px) {
body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  height: 100vh;           
  margin: 0;
 background-color:var(--dark);
  margin-top: 5%;


}
}
