
.nm {
    width: 70%; 
    margin: 0 auto;

    font-weight: bold;
    font-size: 12vh;
    text-align: center;
    color: #09ff00;

    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em; 
    

    animation:
        typing 3.5s steps(30, end) infinite,
        blink-caret .75s step-end infinite;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% } 
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}




body{

    
 

background-color:black ;



}


  

   


body{
   
    overflow-x: hidden; 
    overflow-y: scroll; 
}



.ola{
    
 
    margin-top: 10vh;
    color:#09ff00;
    
  
    font-weight: bold;
    font-size: 8vh;
    text-align: center;

    
}



.ola2{
   
  
    color: rgb(0, 0, 0);
    
 
    font-weight: bold;
    font-size: 8vh;
    text-align: center;
    
}


.eu img {
    width: 300px; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    border-radius: 10px;
    margin-top: 25vh; 
}

.foot{

    color: antiquewhite;
  margin-top: 10%;
  background-color: rgb(106, 106, 106);
  width: 207vh;
  height: 30vh;
  text-align : center;
 





}

@media (max-width: 600px) {
  .foot {
    width: 54vh;
    height: 30vh;
  }
  .nm{
    margin-top: 10%;
   font-size: 8vh;

  }
  .ola{
    font-size: 5vh;
    margin-top: 3%;
    

  }
  .eu img{
    margin-top: 5%;
  }
}






.roteador{
   
    margin-right: 80%;
    font-size: arial;
    color: beige;
  margin-left: 20vh;
    
}
.css{
  margin-left: text -13vh;
    font-size: arial;
    color: beige;
  margin-left: 20vh;
    margin-top: -10%;
    margin-left: 60vh;
}
.sql{
    margin-left: text -90vh;
    font-size: arial;
    color: beige;
    margin-top: -8%;
    margin-left: 90vh;
}
.hard{
    margin-left: text -12vh;
    font-size: arial;
    color: beige;
    margin-top: -10%;
    margin-left: 120vh;
}


.c{

  margin-left: text 40vh;
    font-size: arial;
    color: beige;
    margin-top: -10%;
    margin-left: 150vh;

}

.button img{
    width: 50px; 
border-radius: 2vh;
    margin-top: 2vh; 
  

}

.button{
    margin-left: 90%;
 width: 40px;
   height: auto; 
border-radius: 2vh;
    margin-top: 6vh; 

}


.buttoni img{
      width: 60px; 
border-radius: 4vh;
    
}

.buttoni{
    margin-left: 80%;
 width: 90px; 
 height: auto;
border-radius: 10vh;
 margin-top: -10vh; 
   
}


.buttong img{
      width: 60px; 
border-radius: 4vh;
    
}

.buttong{
    margin-left: 70%;
 width: 90px; 
 height: auto;
border-radius: 10vh;
 margin-top: -9vh; 
   
}
.buttoneu img{
    width: 60px; 
border-radius: 4vh;
}

.buttoneu{
    margin-left: 4%;  
 width: 90px; 
 height: auto;
border-radius: 10vh;
 margin-top: -9vh;
}