body {
background-color: var(--dark);
  color: var(--textcolor);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Courier New", Courier, monospace;
}


.nm { width: 70%; margin: 0 auto; font-weight: bold; font-size: 12vh; text-align: center; color: #09ff00; font-family: "Courier New", Courier, monospace; overflow: hidden; white-space: nowrap; letter-spacing: .15em; animation: typing 3.5s steps(30, end) infinite, blink-caret .75s step-end infinite; } @keyframes typing { from { width: 0 } to { width: 100% } } @keyframes blink-caret { from, to { border-color: transparent } 50% { border-color: orange } }


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.ola {
  margin-top: 10vh;
  color: #09ff00;
  font-weight: bold;
  font-size: 8vh;
  text-align: center;
}

.ola2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 8vh;
  text-align: center;
}

.eu img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 25vh auto 0;
  border-radius: 10px;
}

.foot {
  color: antiquewhite;
  background-color: var(--colord1);
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5vh 0;
  margin-top: 10%;
}


.button,
.buttoni,
.buttong,
.buttoneu,
.btclass {
  width: 80px;
  height: 80px;
  border-radius: 0;
  overflow: hidden;
}

.button img,
.buttoni img,
.buttong img,
.buttoneu img,
.btclass img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}


.dvh {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  border: solid;
  width: 100%;
  height: 12vh;
  background-color: var(--colord1);
  margin-top: 2vh;
}

.experiencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 5vh;
  padding: 0 5vw;
}

.exp {
  max-width: 200px;
  text-align: center;
  color: beige;
  font-family: Arial, sans-serif;
  font-size: 2.5vh;
}

.exp img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1vh;
}


@media (max-width: 600px) {
  .experiencias {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .exp {
    max-width: 80%;
    font-size: 2vh;
  }
  .nm {
  font-size: 10vw; 
}
.ola {
  margin-top: 5vh;
  color: #09ff00;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
}


}
:root {
  --dark: #000;              
  --white: #358939;         
  --colord1: rgb(62, 62, 62); 
  --colord2: rgb(0, 238, 255);
  --textcolor: #09ff00;     
}

[data-theme="dark"] {
  --white: #000;
  --dark: #358939;      
  --colord1: rgb(20, 20, 20);
  --colord2: rgb(0, 238, 255);
  --textcolor: #000;        
}


.nm,
.ola,
.exp {
  color: var(--textcolor);
}
